In [ ]:
#methode_list
list_angka = [1,4,3,5,7]

In [ ]:
#sort
list_angka.sort()
list_angka

[1, 3, 4, 5, 7]

In [ ]:
#append nambahin index paling akhir
list_angka.append("Rama")
list_angka

[1, 4, 3, 7, 'Rama']

In [ ]:
#insert nambah index
list_angka.insert(3, "Zakkia")
list_angka

[1, 3, 4, 'Zakkia', 5, 7, 'Rama']

In [ ]:
#pop hilangin index paling akhir
list_angka.pop()
list_angka

[1, 3, 4, 'Zakkia', 5, 7]

In [ ]:
#remove menghilangkan isi index
list_angka.remove(7)
list_angka

[1, 3, 4, 'Zakkia']

In [ ]:
list_angka = [1,4,3,5,7]
list_angka.remove(list_angka[-2])
list_angka

[1, 4, 3, 7]

In [ ]:
contoh_dict = {2:"Ramadhany", "Dua belas":12, False:12.0, 3.0:['Eko', 'patrio'], "Dict":{}, 333:(), "Boolean":True}
print(contoh_dict)

{2: 'Ramadhany', 'Dua belas': 12, False: 12.0, 3.0: ['Eko', 'patrio'], 'Dict': {}, 333: (), 'Boolean': True}

In [ ]:
contoh_dict["Negara"] = "Indonesia"

In [ ]:
print(contoh_dict)

{2: 'Ramadhany', 'Dua belas': 12, False: 12.0, 3.0: ['Eko', 'patrio'], 'Dict': {}, 333: (), 'Boolean': True, 'Negara': 'Indonesia'}

In [ ]:
contoh_dict = {2:"Ramadhany", "Dua belas":12, False:12.0, 3.0:['Eko', 'patrio'], "Dict":{}, 333:(), "Boolean":True}
print(contoh_dict)

{2: 'Ramadhany', 'Dua belas': 12, False: 12.0, 3.0: ['Eko', 'patrio'], 'Dict': {}, 333: (), 'Boolean': True}

In [ ]:
contoh_dict["Negara"] = ["Indonesia"]
print(contoh_dict)

{2: 'Ramadhany', 'Dua belas': 12, False: 12.0, 3.0: ['Eko', 'patrio'], 'Dict': {}, 333: (), 'Boolean': True, 'Negara': ['Indonesia']}

In [ ]:
contoh_dict["Negara"].append("Italy")
print(contoh_dict)

{2: 'Ramadhany', 'Dua belas': 12, False: 12.0, 3.0: ['Eko', 'patrio'], 'Dict': {}, 333: (), 'Boolean': True, 'Negara': ['Indonesia', 'Italy']}

In [ ]:
capital = {}

In [ ]:
capital["Ibu kota terkaya"] = ["Cikarang"]

In [ ]:
print(capital)

{'Ibu kota terkaya': ['Cikarang']}

In [ ]:
capital["Ibu kota terkaya"].append("Bandung")

In [ ]:
print(capital)

{'Ibu kota terkaya': ['Cikarang', 'Bandung']}

In [ ]:
#Tuple list yang tidak bisa di sort
contoh_tuple = (1,5,6,8,7,4,5,9)
contoh_tuple

(1, 5, 6, 8, 7, 4, 5, 9)

In [ ]:
#set tidak bisa menerima data duplikasi
contoh_set = set([7,8,9,5,"Rama", "Rama", 7])
contoh_set

{5, 7, 8, 9, 'Rama'}

In [ ]:
#casting merubah typedata set menjadi list
contoh_list = list(contoh_set)
contoh_list[-1]

'Rama'

In [ ]:
contoh_list

[5, 7, 8, 9, 'Rama']

In [ ]:
contoh_tuple = tuple(contoh_list)
contoh_tuple

(5, 7, 8, 9, 'Rama')

In [ ]:
contoh_tuple = tuple(contoh_list)

In [ ]:
#sorted(contoh_tuple, reverse=True)
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
#conditional statement

In [ ]:
#if else
if a < b:
  print("a lebih kecil dari b")
elif a > b:
  print("a lebih besar dari b")
else:
  print("a dan b sama")

NameError: ignored

In [ ]:
#looping
# for
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(20,0,-1):
  print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#while

a = 0 
while a<20:
  print("a lebih masih kecil darii 20 : {}".format(a))
  a+=1

a lebih masih kecil darii 20 : 0
a lebih masih kecil darii 20 : 1
a lebih masih kecil darii 20 : 2
a lebih masih kecil darii 20 : 3
a lebih masih kecil darii 20 : 4
a lebih masih kecil darii 20 : 5
a lebih masih kecil darii 20 : 6
a lebih masih kecil darii 20 : 7
a lebih masih kecil darii 20 : 8
a lebih masih kecil darii 20 : 9
a lebih masih kecil darii 20 : 10
a lebih masih kecil darii 20 : 11
a lebih masih kecil darii 20 : 12
a lebih masih kecil darii 20 : 13
a lebih masih kecil darii 20 : 14
a lebih masih kecil darii 20 : 15
a lebih masih kecil darii 20 : 16
a lebih masih kecil darii 20 : 17
a lebih masih kecil darii 20 : 18
a lebih masih kecil darii 20 : 19

In [ ]:
#break15

while True:
  umur = int(input())
  if umur >= 17:
    break

14
52

In [ ]:
#continue
while True:
  umur = int(input())
  if umur == 17:
    continue
  elif umur > 17:
    break
  print("umur masih di bawah 17 tahun")

15
umur masih di bawah 17 tahun
85

In [ ]:
list_nilai = [1,5,4,8,7,5,9]
for nilai in list_nilai:
  if nilai == 0:
    print("nilai ada yang 0")

In [ ]:
for i in range(10):
  print(i)
else:
  print("Aku akan di print ketika break tidak tereksekusi")

0
1
2
3
4
5
6
7
8
9
Aku akan di print ketika break tidak tereksekusi

In [ ]:
for i in range(10):
  print(i)
  if i == 8:
    break
else:
  print("Aku akan di print ketika break tidak tereksekusi")

0
1
2
3
4
5
6
7
8